# .gitignore

# Ignore local configuration files.
/.rspec
/.ruby-gemset
/.ruby-version
Gemfile.lock
/gemfiles/*.lock

# Ignore local and generated documentation.
/coverage
/doc
.yardoc
.yardopts

# Ignore temporary files.
/.byebug_history
/spec/examples.txt
/tmp

# Ignore files copied to Rails test installs.
/spec/rails_*/config/locales/*.yml
/spec/rails_*/config/routes.rb
/spec/rails_*/app/controllers/**/*_controller.rb
!/spec/rails_*/app/controllers/application_controller.rb
/spec/rails_*/app/views/**/*.erb

!/spec/rails_shared/config/locales/*.yml
!/spec/rails_shared/config/routes.rb
!/spec/rails_shared/app/controllers/*_controller.rb
!/spec/rails_shared/app/views/**/*.erb
